.icon {
  transform: translateY(-135px);
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.project_card > .card-img {
  margin-bottom: -150px;
}
.name {
  font-size: 24px;
}
.linkTo a {
  margin: 0px 5px;
}

.desc_project {
  margin-bottom: 2rem;
  height: 7rem;
}

.project_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.arrow_icon > .MuiSvgIcon-root {
  color: var(--primary-color) !important;
  background: white;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 200ms ease-in-out;
}

.arrow_icon > .MuiSvgIcon-root:hover {
  color: white;
  background: var(--secondary-color) !important;
  border: 1px solid white;
  transform: scale(1.2);
}
.desc_tools {
  margin-bottom: 5rem;
  height: 0rem;
}

.card-img > .circle {
  height: 11.6rem;
  width: 11.6rem;
  transform: translate(75px, -94px);
  z-index: -1;
  background: rgb(255, 255, 255);
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.4);
}
.project_card {
  background: linear-gradient(
    var(--primary-color),
    rgba(255, 255, 255)
  ) !important;
  width: 21rem;
  height: 28rem;
  margin: 5rem 1rem;
  border: 1px solid rgb(230, 236, 248) !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
}

.linkTo {
  display: flex;
  justify-content: center;
  padding: 0rem 2rem;
  align-items: center;
}

.github {
  border: none;
  border-radius: 20px;
  border: 1px solid var(--primary-color) !important;
  padding: 0.5rem 0.75rem;
  background: none;
  transition: background-color 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
}

.github:hover {
  color: white;
  background-color: var(--secondary-color) !important;
  border: 1px solid white;
  transform: scale(1.08);
}

.linkTo .github:hover {
  color: white;
}

.github:focus {
  outline: none;
}

.github > .MuiSvgIcon-root {
  height: 2rem;
  width: 2rem;
}
