.skills_card {
  display: flex;
  border-radius: 20px !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.skills {
  justify-content: center;
  margin-top: -6rem;
  width: 95%;
  min-height: 55rem;
  border-radius: 20px;
}

.line {
  border: 0.2px solid #7510f7;
  opacity: 0.2;
  margin-bottom: 10px;
}

.card {
  border-radius: 20px !important;
  padding-bottom: 1rem !important;
}

.desc {
  padding: 5px 3px;
  height: 4rem;
}

.skills_card h5 {
  color: #7510f7;
}

.skills_card p {
  color: gray;
}

.skills_card {
  padding-top: 1rem !important;
}

.languages {
  margin: 1rem;
}

.border-right {
  height: 39rem !important ;
}

@media (max-width: 525px) {
  .languages {
    margin-top: 3.5rem;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 90% !important;
  }
}

@media (max-width: 767px) {
  .desc {
    padding: 5px 3px;
    height: 3rem !important;
  }

  .line {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 991px) {
  .desc {
    padding: 5px 3px;
    height: 6rem;
  }
}
