.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7510f7;
  height: 50rem;

  flex-direction: column;
}

.resume::before {
  content: "";
  height: 10rem;
}
