.center_bg {
  background-color: var(--primary-color) !important;
}

.card {
  min-width: 10rem !important;
}

.social_card {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.social_btn {
  border: 2px solid var(--primary-color);
  background-color: white;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  color: var(--primary-color);
}

.social_btn:hover {
  color: white;
  background-color: var(--primary-color);
  transform: scale(1.05);
  border: 2px solid white;
}

.social_btn:focus {
  outline: none;
}

.twitter_btn {
  border: 2px solid #1ca1f2;
  color: #1ca1f2;
}

.twitter_btn:hover {
  background-color: #1ca1f2;
}

.linkedin_btn {
  border: 2px solid #4a86c5;
  color: #4a86c5;
}

.linkedin_btn:hover {
  background-color: #4a86c5;
}

.facebook_btn {
  border: 2px solid #7689b5;
  color: #7689b5;
}

.facebook_btn:hover {
  background-color: #7689b5;
}

.facebook_img {
  object-fit: contain;
  height: 175px;
}

.github_img {
  object-fit: contain;
  height: 190px;
}

.twitter_img {
  object-fit: contain;
  height: 150px;
}

@media (max-width: 991px) {
  .card-columns {
    column-count: 3 !important;
  }
}

@media (max-width: 767px) {
  .card-columns {
    column-count: 1 !important;
  }
}

@media (max-width: 575px) {
  .card-columns {
    column-count: 1 !important;
  }
}
